	<a class = "hero-link" href = "">
		<div class = "hero">
			<h1 class = "hero-title">User Interviews</h1>
			<%= image_tag('whiteupvote.png', class: "hero-upvote" ) %>
			<p class = "hero-content">Click here to see the latest interviews!</p>
		</div>
	</a>

		
	<div class = "content group">
	
		<nav class = "navbar">
			<div class = "top-nav">
				<%= link_to "Home", root_path, class: "top-nav-link" %>
				<li><a class = "top-nav-link" href = "">Collections</a></li>
				<li><a class = "top-nav-link" href = "">LIVE Chats</a></li>
			</div>
			<div class = "bottom-nav">
				<h1 class = "bottom-nav-title">Categories</h1>
				<li><%= link_to "Tech", tech_path, action: "tech", class: "bottom-nav-link" %></li>
				<li><%= link_to "Games", games_path, action: "games", class: "bottom-nav-link" %></li>
				<li><%= link_to "Books", books_path, action: "books", class: "bottom-nav-link" %></li>
				<li><%= link_to "Podcasts", podcasts_path, action: "games", class: "bottom-nav-link" %></li>
			</div>
		</nav>
	
		<div class = "product">
	
				<div class = "product-header group">
					<h2 class = "product-header-title">Today</h2>
					<div class = "product-nav">
						<p class = "product-nav-popular"><%= popular_page_redirector %></p>
						<p class = "product-nav-seperator"> | </p>
						<p class = "product-nav-newest"><%= new_page_redirector %></p>
					</div>
				</div>

				<% @products.each do |product| %>
					<%= render product %>
				<% end %>	
						
		
		</div>
		
		<div class = "social group">
			<p class = "social-title">Product Hunt is more fun with friends</p>
			<p class = "social-descript">Login to see what your friends are upvoting.</p>
			<a href = "www.twitter.com"><div class = "social-twitter">
				<%= image_tag('twitter', class: "twitter-icon" ) %>
				<p class = "social-twitter-words">Log in with Twitter</p>
			</div></a>
			<a href = ""><div class = "social-facebook">
				<%= image_tag('facebook.png', class: "facebook-icon" ) %>
				<p class = "social-facebook-words">Log in with Facebook</p>
			</div></a>
		</div>
	
	</div>