<%= link_to(product) do %>
				
	<div class = "product-section group">
	
		<%= image_tag(product.image_url, class: "product-sect-img") %>
		<div class = "product-sect-info">
			<h3 class = "product-sect-title"><%= product.title %></h3>
			<p class = "product-sect-descript">
				<%= product.description %>
			</p>
	
			<div class = "product-options group">
				<div class = "upvote">
					<%= image_tag('upvote1.png', class: "upvote-img") %>
							<%= link_to upvote_product_path(product), class: "upvotes", method: :put do %>
								<button class = "upvote-button" type = "button">
									<%= product.get_upvotes.size %>
								</button>
							<% end %>
				</div>
				<div class = "comments">
					<p class ="comments-size"><%= product.comments.size %></p>
				</div>
				<div class = "add-collection">
					<img class = "add-collecton-icon">
					<span class = "add-collection-save">save</span>
				</div>
				<div class = "link">
					<%= image_tag('link.png', class: "link-icon" ) %>
				</div>
				<div class = "type">
				<%= product.product_type %>
				</div>
			</div>
		</div>
						

	</div>

<% end %>