<div class = "show-product">
	<div class = "show-product-info">
		<%= render @product %>
	</div>
	
	<% if user_signed_in? %>
		<% if owned?(@product) %>
			<%= link_to "Delete Product", @product, method: :delete, data: {confirm: "You sure?"} %>
			<%= link_to "Edit Product", edit_product_path(@product) %>
		<% end %>
	<% end %>

	<div class = "show-comments">
		
		<div class = "show-comments-all">
			<%= render 'comments/form' %>
			<%= render 'comments/comments' %>
		</div>
	</div>
</div>