<!DOCTYPE html>
<html>
<head>
  <title>Product Hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class = "header group">
	
		
		<%= link_to image_tag('logo.png', class: "logo" ), root_path %>
	

		<%= form_tag browse_products_path, :method => 'get', class: "search" do %>
			<%= text_field_tag :search, params[:search], :style => "width: 275px; height: 25px;", class: "search-text", :placeholder => "Discover your next favourite thing..." %>
		<% end %>
	
		
		<div class = "header-right" >
			
		
			<% if user_signed_in? %>
					<a class = "plus">+</a>
					<a  class = "bell" href = ""></a>
					<a href = "">
						<img class = "profile-pic" src = "https://38.media.tumblr.com/avatar_4f673b688d73_128.png" 
						alt = "Your profile picture">
					</a>
			<% else %>	
					<div class = "logged-out-dropdown">...
						<div class = "dropdown-content">
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
							<a href = ""></a>
						</div>
					</div>
				<%= link_to "Login", user_session_path, class: "login" %>
			<% end %>
 			
 			
		</div>
		
	</header>


<%= yield %>

</body>
</html>
